html {
    height: 100%;
    width: 100%;
  }
  body {
    background-image: url("back.avif"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: centre;
  }
  h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: #e189e1 ;
    text-shadow: 2px 2px 5px #d25ba0;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  h4 {
    
  }